.Header {
    position: fixed;
    padding: 25px;
    z-index: 100;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .HeaderScrolled {
    background: rgba(255, 255, 255, 0.1);
    transition: 1s;
    backdrop-filter: blur(20px);
  }
  
  #site-title {
    margin: auto;
    margin-left: 30px;
    align-items: left;
    justify-items: left;
  }
  
  #site-title a {
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  
  .HeaderGroup {
    margin: auto;
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
  }
  
  .Header a {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-decoration: none;
  }

#get-started{
    display: flex;
    align-content: flex-end;
    margin-right: 80px;
}


  #get-started button {
    background-color: rgba(0, 6, 69, 1);
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin: auto;
    margin-right: 30px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
  }
  
  #get-started button:hover {
    background-color: rgba(1, 93, 242, 1);
    color: rgba(255, 255, 255, 0.7);
    transform: translateY(-3px);
  }
  
  @media (max-width: 411px) {
    .Header{
      grid-template-columns: repeat(2, auto);
    }
    #site-title {
     
      margin-left: 0px;
      
    }
    .HeaderGroup {
      display: none;
    }
    #get-started{
      
      margin-right: 30px;
  }
  }