.Header {
  z-index: 100;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.HeaderScrolled {
  background: rgba(255, 255, 255, 0.1);
  transition: 1s;
  backdrop-filter: blur(10px);
}

#site-title {
  margin: auto;
  margin-left: 80px;
  align-items: left;

  display: grid;
}

#site-title a {
  color: rgba(1, 27, 51, 0.8);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.HeaderGroup {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 30px;
  align-items: center;
}

.Header a {
  color: rgba(1, 27, 51, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}
.Header a:hover {
  color: rgba(128, 170, 255, 1);
  transition: 1s;
}

#get-started {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

#get-started button {
  /* background-color: rgba(0, 6, 69, 1);*/
  background-color: rgba(1, 93, 242, 0.85);
  padding: 12px 22px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 80px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 1s;
}

#get-started button:hover {
  background-color: rgba(1, 93, 242, 1);
  transform: translateY(-3px);
}

/* MEDIA CALLS*/
@media (max-width: 1024px) {
  #get-started {
    margin-right: 30px;
  }
}

@media (max-width: 480px) {
  .Header {
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: 100px;

    justify-items: center;
  }
  #site-title {
    margin-left: 10px;
    width: 100%;
  }
  .HeaderGroup {
    display: none;
  }
  #get-started button {
    margin-right: 0px;
  }
}
